@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
	font-family: 'Bebas Neue';
	font-style: normal;
	font-weight: 400;
	src: url('/assets/fonts/BebasNeue-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'Bebas Neue';
	font-style: normal;
	font-weight: 700;
	src: url('/assets/fonts/BebasNeue-Bold.otf') format('opentype');
}
