*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

a,
a:checked {
	text-decoration: none;
	color: inherit;
}

html {
	font-size: 1.2em;
	scroll-behavior: smooth;
	scrollbar-color: var(--accent) var(--bg-75);
	scrollbar-width: thin;
}

body {
	font-family: 'Inter', sans-serif;
	color: var(--text);
	background-color: var(--bg);
}

.wrapper {
	margin: 0 auto;
	max-width: var(--mw);
}

.flex {
	display: flex;
}

.flex-center {
	align-items: center;
	justify-content: center;
}
