@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

a,
a:checked {
	text-decoration: none;
	color: inherit;
}

html {
	font-size: 1.2em;
	scroll-behavior: smooth;
	scrollbar-color: var(--accent) var(--bg-75);
	scrollbar-width: thin;
}

:root {
	--bg: #f0f3f6;
	--alt: white;
	--bg-75: hsla(277, 57%, 95%, 0.75);
	--text: #333333;
	--secondary: #7d8795;
	--accent: hsl(340, 75%, 49%);
	--accented: hsl(340, 100%, 97%);
	--good: hsl(146, 100%, 66%);
	--bad: hsl(0, 100%, 65%);
	--warn: hsl(44, 80%, 55%);
	--mw: 1220px;
}

body {
	font-family: 'Inter', 'Geologica', sans-serif;
	color: var(--text);
	background-color: var(--bg);
}

.wrapper {
	margin: 0 auto;
	max-width: var(--mw);
}

.flex {
	display: flex;
}

.flex-center {
	align-items: center;
	justify-content: center;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--bg: black;
		--bg-75: hsla(0, 0%, 0%, 0.75);
		--alt: hsl(0, 0%, 16%);
		--text: hsl(275, 50%, 95%);
	}
} */
