:root {
	--bg: #f0f3f6;
	--alt: white;
	--bg-75: hsla(277, 57%, 95%, 0.75);
	--text: #333333;
	--secondary: #7d8795;
	--accent: hsl(340, 75%, 49%);
	--accented: hsl(340, 100%, 97%);
	--good: hsl(146, 100%, 66%);
	--bad: hsl(0, 100%, 65%);
	--warn: hsl(44, 80%, 55%);
	--mw: 1220px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: black;
		--bg-75: hsla(0, 0%, 0%, 0.75);
		--alt: hsl(0, 0%, 16%);
		--text: hsl(275, 50%, 95%);
	}
}
